body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #EFEFEF; /* Light Gray Background */
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    align-items: center;
    background-color: #FEFEFE;
    color: #4A4A4A; /* White text color */
}

.nav-logo {
    font-weight: bold;
    color: #4A4A4A; /* Adjusted to white for better visibility */
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #4A4A4A; /* Adjusted to white for better visibility */
    margin: 0 0.6em;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px; /* Space for the decoration */
}

.nav-links li a::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: url('nav-link-decoration.png') no-repeat center center / contain;
    transition: width .5s ease, background-color .5s ease;
}

.nav-links li a:hover::after {
    width: 100%; /* Full width on hover */
    background-color: #5C946E; /* Color transition on hover */
}

.hero {
    background: url('hero-background.png') no-repeat center center / cover;
    position: relative;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #333;
    text-align: center;
    padding-top: 20%;
    margin-left: 15%;
    margin-right: 15%
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #4A4A4A; /* Dark Gray Text */
}

.hero-content p {
    font-size: 1.2em;
    color: #4A4A4A; /* Dark Gray Text */
    margin-bottom: 1em;
}

.cta-button {
    padding: 1em 2em;
    background-color: #5C946E; /* Earthy Green Button */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px; /* More rounded corners for elegance */
    font-weight: bold;
    font-size: 1.1em;
}

.cta-button:hover {
    background-color: #425B4F; /* Darker Green on Hover */
}

.about {
    background-color: #f4f4f4;
    color: #333;
    padding: 3em 2em;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.tree {
    position: relative;
    height: 150px;
    width: 100px;
    margin: 20px auto;
}

.trunk {
    position: absolute;
    bottom: 0;
    background: #8B4513; /* Brown color */
    height: 100px;
    width: 10px;
    left: 45px; /* Center the trunk in the tree div */
    animation: growTrunk 2s forwards;
}
.tree {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 50px auto;
}

.branch {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 30%;
    width: 2px;
    background: #654321; /* Brown color for branch */
    transform-origin: bottom;
    transform: translateX(-50%);
    animation: growBranch 2s forwards;
}

/* First split */
.branch::before, .branch::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 2px;
    background: inherit;
    transform-origin: bottom;
    animation: growBranch 2s forwards 2s; /* Delay the animation */
}

.branch::before {
    transform: rotate(30deg);
    bottom: 100%;
}

.branch::after {
    transform: rotate(-30deg);
    bottom: 100%;
}

/* Second split */
.branch::before::before,
.branch::before::after,
.branch::after::before,
.branch::after::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 2px;
    background: inherit;
    transform-origin: bottom;
    animation: growBranch 2s forwards 4s; /* Further delay the animation */
}

.branch::before::before {
    transform: rotate(20deg);
    bottom: 100%;
}

.branch::before::after {
    transform: rotate(-20deg);
    bottom: 100%;
}

.branch::after::before {
    transform: rotate(20deg);
    bottom: 100%;
}

.branch::after::after {
    transform: rotate(-20deg);
    bottom: 100%;
}

/* Third Split */
.branch::before::before::before,
.branch::before::before::after,
.branch::before::after::before,
.branch::before::after::after,
.branch::after::before::before,
.branch::after::before::after,
.branch::after::after::before,
.branch::after::after::after{
    content: '';
    position: absolute;
    height: 50%;
    width: 2px;
    background: inherit;
    transform-origin: bottom;
    animation: growBranch 2s forwards 6s; /* Further delay the animation */
}

.branch::before::before::before {
    transform: rotate(20deg);
    bottom: 100%;
}

.branch::before::before::after {
    transform: rotate(20deg);
    bottom: 100%;
}

.branch::before::after::before {
    transform: rotate(-20deg);
    bottom: 100%;
}

.branch::before::after::after {
    transform: rotate(-20deg);
    bottom: 100%;
}

.branch::after::before::before {
    transform: rotate(20deg);
    bottom: 100%;
}

.branch::after::before::after {
    transform: rotate(20deg);
    bottom: 100%;
}

.branch::after::after::after {
    transform: rotate(-20deg);
    bottom: 100%;
}

.branch::after::after::before {
    transform: rotate(-20deg);
    bottom: 100%;
}



@keyframes growBranch {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
